<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


        <h1>welcome to registration form<h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Sign Up Form</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="SignUp/">Basic Details</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">User Details</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="work/work/">Work Details</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Educational Details</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
    {% comment %} <div>
        {% if request.user.is_authenticated %}
            <a href = "{% url 'logout' %}" >Logout</a>
            <a href = "{% url 'password_change' %}">Password Change</a>
        {% else %}
            <button class = "button1"><a href = "{% url 'SignUp' %}">SignUp Here</a></button>
            
            <a href="{%url 'login'%}"class="button1">Login</a>
        
        {% endif %}
        
        <h2>Welcome to Authentication {%if request.user.is_authenticated%}{{request.user}}{%else%}Visitor{%endif%}</h2> 

    </div>{% endcomment %}
</body>
</html>