<!DOCTYPE html>
<html lang="en">
  <!-- Latest compiled and minified CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style = "background-color: cadetblue;">
    <form action="">
    {% for A in a %}
    <div style="text-align:center;">
        <div class="form-group">
        <label class="col-sm-2 control-label">{{A.label }} :- </label>

             <div class="col-sm-12">
                {{A}}
             </div>
        </div>
    
    {% endfor %}
    <br>
    <button type="submit">Login</button>

</div>
    </form>
</body>
</html>