<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Registration form</title>
</head>

<body style = "background-color: cadetblue;">
<div class="card-header">
    <div style="text-align:center;">
        <form action="" method ="post" >
            {% csrf_token %}
               
    
            {% for i in form %}
           
    
           
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ i.label }} :- </label>
    
                <div class="col-sm-12">
                    {{i}}
                </div>
            </div>
            
           
            {% endfor %} 
            <br>
            {% if messages %}
            {% for message in messages %}
           <div class="alert alert-warning" role="alert">
        
               <strong>{{message}}</strong>
           </div>
        
           {% endfor %}
        
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
           
        </form>
     </div>
</div>   

   </body>
</html>