<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    
    <table border="1">

        <tr>
            <th>Event_Title</th><br>
            <th>location</th><br>
          
        </tr>
        <tr>

            {% for i in   read%}
                <td>{{i.Event_Title}}</td>
                <td>{{i.location}}</td>
               
            {% endfor %}
        </tr>

    </table>


</body>
</html>