<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>work Details</title>
</head>
<body style = "background-color: cadetblue;">
      
<div >
    {% comment %} <form action="" method ="post" >
        {% csrf_token %}
           

        {% for i in form %}
       

       
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ i.label }} :- </label>

            <div class="col-sm-12">
                {{i}}
            </div>
        </div> {% endcomment %}

       <div style = "text-align:center;">
           {% for  form  in  form %}

           <div class="form-group">
                <label class="col-sm-2 control-label">{{ form.label }} :- </label>

                    <div class="col-sm-12">
                        {{form}}
                    </div>
            </div>
               
        
           {% endfor %}
           <br>
           <button type="submit" class="btn btn-primary">Submit</button>
        
        </div>
      

</body>
</html>