<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>WorkDetails</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<style>
    .box{
        color: #fff;
        padding: 20px;
        display: none;
        margin-top: 20px;
    }
    .red{ background: #ff0000; }
    .green{ background: #228B22; }
    .blue{ background: #0000ff; }
    .label{ margin-right: 15px; }

    .logo{
        width: 40%;
        height:10%;
        overflow: hidden;
        float: left;
        position:relative;
        margin-top: -6px;
    }

</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</script>
<style>
    .logo{
        width: 40%;
        height:10%;
        overflow: hidden;
        float: left;
        position:relative;
        margin-top: -6px;
    }
</style>
</head>
<body>
    
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                {%load static%} 
                  <div class="logo"><a href="#"><img src="{%static 'logo.png'%}"></a>
                  </div>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link active text-primary" href="{%url 'educationalDetails'%}">Educational Details <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active text-primary" href="{%url 'Profile'%}">Profile <span class="sr-only">(current)</span></a> 
                </div>
                
                  

                </div>
                <span>
                    Hello, {{request.user}}
                </span>
                <span> <a href ="{%url 'LogOut'%}"> Log Out</a> </span>
            </nav>
            <div class="container h-100">
                <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title">WORK DETAILS</h3>
                    </div>
                    <hr>    
                    <div>
                        <a href="http://127.0.0.1:8000/WorkDetails/1" class = "btn btn-warning btn-sm">Fresher</a>
                        <a href="http://127.0.0.1:8000/WorkDetails/2" class = "btn btn-warning btn-sm">Experienced </a>
                        
                    </div>
                <br>
                        <div class="d-flex justify-content-center form_container">
                        <form method="POST" action="" enctype="multipart/form-data">            
                            {%csrf_token%}
                                
                        <br>
                            <div>
                                Upload Resume : {{form.upload_resume}}
                            </div>

                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input class="btn submit_btn" type="submit" value="Submit">

                            </div>
                            <br>
                            <br>

                        </form>
                      
                    </div>  
        
        </div>
    </div>
<div class="footer-copyright text-center py-3 bg-dark">
        <a href=""> Made By Shahaji <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-badge-3d" viewBox="0 0 16 16">
            <path d="M4.52 8.368h.664c.646 0 1.055.378 1.06.9.008.537-.427.919-1.086.919-.598-.004-1.037-.325-1.068-.756H3c.03.914.791 1.688 2.153 1.688 1.24 0 2.285-.66 2.272-1.798-.013-.953-.747-1.38-1.292-1.432v-.062c.44-.07 1.125-.527 1.108-1.375-.013-.906-.8-1.57-2.053-1.565-1.31.005-2.043.734-2.074 1.67h1.103c.022-.391.383-.751.936-.751.532 0 .928.33.928.813.004.479-.383.835-.928.835h-.632v.914zm3.606-3.367V11h2.189C12.125 11 13 9.893 13 7.985c0-1.894-.861-2.984-2.685-2.984H8.126zm1.187.967h.844c1.112 0 1.621.686 1.621 2.04 0 1.353-.505 2.02-1.621 2.02h-.844v-4.06z"/>
            <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
        </svg> </a>
    
</div> 
</body>
</html>