<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% csrf_token %} 
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Mr. Veep Profile</title>

    <meta name="author" content="Codeconvey" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

    
    <link rel="stylesheet" href="{% static 'css/demo.css' %}" />
    
	    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {%load static%} 
        <div class="logo"><a href="#"><img src="{%static 'logo.png'%}"></a>
        </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            {% comment %} <a class="nav-item nav-link active text-primary" href="{%url 'educationalDetails'%}">Educational Details <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active text-primary" href="{%url 'Profile'%}">Profile <span class="sr-only">(current)</span></a> {% endcomment %}
          </div>    
        
    </div>
        <span>
            Hello, {{request.user}}
        </span>
        <span> <a href ="{%url 'LogOut'%}"> Log Out</a> </span>
      </nav>
<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>Your Profile</h1>
                <p>your all details are mentioned here</p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
            <h3>{{request.user}}</h3>
          </div>
          {% for x in us %}
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Name: {{x.first_name}} {{x.last_name}} </strong></p>
            <p class="mb-0"><strong class="pr-1">Email: {{x.email}}</strong></p>
            
          </div>
          {% endfor %}
        </div>
      </div>
      
      
      
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Educational Information</h3>
          </div>
          {% for x in ed %}
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Highest Qualification</th>
                <td width="2%">:</td>
                <td>{{x.Highest_Qualification}}</td>
              </tr>
              <tr>
                <th width="30%">Institution Name	</th>
                <td width="2%">:</td>
                <td>{{x.Institution_Name}}</td>
              </tr>
              <tr>
                <th width="30%">University Name</th>
                <td width="2%">:</td>
                <td>{{x.University_Name}}</td>
              </tr>
              <tr>
                <th width="30%">Result</th>
                <td width="2%">:</td>
                <td>{{x.Result}}</td>
              </tr>
              <tr>
                <th width="30%">City</th>
                <td width="2%">:</td>
                <td>{{x.City}}</td>
              </tr>
              <tr>
                <th width="30%">State</th>
                <td width="2%">:</td>
                <td>{{x.State}}</td>
              </tr>
              <tr>
                <th width="30%">Country</th>
                <td width="2%">:</td>
                <td>{{x.Country}}</td>
              </tr>
              <tr>
                <th width="30%">Marks Sheet</th>
                <td width="2%">:</td>
                <td>{{x.Upload_Marksheet}}</td>
              </tr>
            </table>
          </div>
          {% endfor %}


          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Fresher</h3>
          </div>

          {% for x in frsh%}
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Resume</th>
                <td width="2%">:</td>
                <td>{{x.upload_resume}}</td>
              </tr>
            </table>
          </div>
          {% endfor %}
        

          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Work Details</h3>
          </div>

          {% for x in work%}
          
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Job Title</th>
                <td width="2%">:</td>
                <td>{{x.job_title}}</td>
              </tr>
              <tr>
                <th width="30%">Department</th>
                <td width="2%">:</td>
                <td>{{x.department}}</td>
              </tr>
              <tr>
                <th width="30%">Company</th>
                <td width="2%">:</td>
                <td>{{x.company_name}}</td>
              </tr>
              <tr>
                <th width="30%">City</th>
                <td width="2%">:</td>
                <td>{{x.location}}</td>
              </tr>
              <tr>
                <th width="30%">Resume</th>
                <td width="2%">:</td>
                <td>{{x.upload_resume}}</td>
              </tr>
            </table>
          </div>
          <a href="{%url 'Update' x.id%}" class="card-link btn btn-primary">Update</a>
          {% endfor %}
        </div>
          
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
          </div>
          <div class="card-body pt-0">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          
         

         
        </div>
      </div>
    </div>
  </div>
</div>     
	</div>
		</div>
    <div class="footer-copyright text-center py-3 bg-dark">
      <a href=""> Made By Shahaji <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-badge-3d" viewBox="0 0 16 16">
          <path d="M4.52 8.368h.664c.646 0 1.055.378 1.06.9.008.537-.427.919-1.086.919-.598-.004-1.037-.325-1.068-.756H3c.03.914.791 1.688 2.153 1.688 1.24 0 2.285-.66 2.272-1.798-.013-.953-.747-1.38-1.292-1.432v-.062c.44-.07 1.125-.527 1.108-1.375-.013-.906-.8-1.57-2.053-1.565-1.31.005-2.043.734-2.074 1.67h1.103c.022-.391.383-.751.936-.751.532 0 .928.33.928.813.004.479-.383.835-.928.835h-.632v.914zm3.606-3.367V11h2.189C12.125 11 13 9.893 13 7.985c0-1.894-.861-2.984-2.685-2.984H8.126zm1.187.967h.844c1.112 0 1.621.686 1.621 2.04 0 1.353-.505 2.02-1.621 2.02h-.844v-4.06z"/>
          <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
      </svg> </a>
  
    </div>
    </div>


</section>

	</body>
</html>